{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container">
  <h1 class="mb-4 mt-5">Login</h1>
  <form action ="/login" method ="POST">
    <div class="mb-1 w-25">
      <input 
      type="text" 
      class="form-control" 
      id="exampleInputUsername1" 
      aria-describedby="emailHelp"
      placeholder="Username" 
      name="username">
    </div>
    <div class="mb-35 w-25">
      <input type="text" class="form-control" id="exampleInputPassword1" 
      placeholder="Password" name="password">
    </div>
    <br/>
    
    <div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
    <a button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button" href="/register">Register</a>
        <br>
        <FONT COLOR="#ff0000"> Please try again!</FONT>
  </div>
</div>



{% endblock %}

<!-- failed html template with the form. Same as login but prints an error message -->