{% extends 'base.html' %} {% block title %}Welcome to Ball is Life{% endblock %}
{% block content %}
<div class="container">
  <h1>Welcome to Ball is Life...</h1>
  <br/>
  <br/>
  <h4><em>Check out these games: </em></h4>
  <table>
	<tr> 
		<th>Date</th>
		<th>Home Team</th>
		<th>Away Team</th>
		<th></th>
	</tr>
	{% for game in data %}
	<tr>
		<form action="/add-favourite" method="post">
			<input type="hidden" name="user_id" value="sadada" />
			<input type="hidden" name="game_id" value="{{ game['id'] }}" />
			<input type="hidden" name="home_team" value="{{ game['home_team'] }}" />
			<input type="hidden" name="away_team" value="{{ game['away_team'] }}" />
			<input type="hidden" name="game_date" value="{{ game['date'][:10] }}" />
			<td class="table-date">{{ game["date"][:10] }}</td>
			<td class="table-home">{{ game["home_team"] }}</td>
			<td	class="table-away">{{ game["away_team"] }}</td>
			<td>
			<button type="submit" class="btn btn-secondary">
				<img src="{{ url_for('static', filename='star.svg') }}">
			</button>
			</a>
			</form>
		</td>
	</tr> 
  {% endfor %}
<!-- Creates a for loop which loops through the dictionary data and extracts the needed information
and displays it as a table -->
  </table>
</div>

{% endblock %}


<!-- This is the template for the homepage, it displays a welcome message, then a 
a header. It then uses a for loop to display the date, home and visitor_team which
are variables initialised through the app.py  -->



