{% extends 'base.html' %} {% block title %}Welcome to Ball is Life{% endblock %}
{% block content %}
<div class="container">
  <h1>Welcome to Ball is Life...</h1>
  <br/>
  <br/>
  <h4><em>Check out these games: </em></h4>
  <table>
	<tr> 
		<th>Date</th>
		<th>Home Team</th>
		<th>Away Team</th>
		<th><img src="{{ url_for('static', filename='star.svg') }}"></th>
	</tr>
	{% for game in data %}
	<tr>
		<td class="table-date">{{ game["date"][:10] }}</td>
		<td class="table-home">{{ game["home_team"] }}</td>
		<td	class="table-away">{{ game["visitor_team"] }}</td>
		<td><img src="{{ url_for('static', filename='star.svg') }}"></td>
	</tr> 
  {% endfor %}
  </table>
</div>

{% endblock %}


<!-- This is the template for the homepage, it displays a welcome message, then a 
a header. It then uses a for loop to display the date, home and visitor_team which
are variables initialised through the app.py  -->