{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
 

<div class="container">
  <h1 class="mb-4 mt-5">Login</h1>
  <form action ="/login" method ="POST">
    <div class="mb-1 w-25">
      <input 
      type="text" 
      class="form-control" 
      id="exampleInputUsername1" 
      aria-describedby="emailHelp"
      placeholder="Username" 
      name="username">
    </div>
    <div class="mb-35 w-25">
      <input 
      type="password" 
      class="form-control" 
      id="exampleInputPassword1" 
      placeholder="Password" 
      name="password">
    </div>
    <br/>
    
    <div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
    <a button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button" href="/register">Register</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p style="color: red">{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
 <!-- flashes error message if message is available  -->

  </div>
</div>



{% endblock %}

<!-- login html template with the form. It uses method = POST to post to /login in
the app.py file -->